<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>

    <!-- site branding -->
    <header>
        <div class="branding">
            <h1><a href="/">MoreRAM?</a></h1>
        </div>
        
        <!-- nav bar -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        
        <!-- login / register buttons -->
        <div class="auth-links">
            <a href="/users/login" style="color: white">Login</a> | <a href="/users/register" style="color: white">Register</a>
        </div>
    </header>

    <!-- hero section -->
    <section class="hero">
        <div class="hero-text">
            <h2>Welcome to MoreRAM?</h2>
            <p>Your one-stop shop for all your digital RAM needs.</p>
        </div>
    </section>

    <!-- Ffeatured products -->
    <section class="featured-products">
        <h2>Featured Products</h2>
        <div class="product-list">
            <div class="product-card">
                <img src="/images/product1.jpg" alt="Product 1">
                <h3>RAM Basic</h3>
                <p>Great quality RAM for office use.</p>
                <p>₱1599</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-card">
                <img src="/images/product2.jpg" alt="Product 2">
                <h3>RAM Plus/h3>
                <p>Durable and affordable for school projects and work.</p>
                <p>₱2699</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-card">
                <img src="/images/product3.jpg" alt="Product 3">
                <h3>RAM Premium</h3>
                <p>Perfect for gaming.</p>
                <p>₱3299</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-card">
                <img src="/images/product4.jpg" alt="Product 4">
                <h3>RAM Pro</h3>
                <p>High-quality RAM for all your needs.</p>
                <p>₱4599</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <ul>
            <li><a href="/terms">Terms & Conditions</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p>&copy; 2025 MoreRAM?. All rights reserved.</p>
    </footer>

</body>

</html>
