<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= message %></h1>
    <p>Welcome to your WS2 E-commerce Project!</p>
    <a href="/users/register">register</a> <br />
    <a href="/users/list">user list</a>
  </body>
</html>
